body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

main {
    margin-top: 20px; /* Increase top margin to ensure content is visible */
}

/* Scrollbar styles */
::-webkit-scrollbar-track {
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    background-color: blue;
}
